SCTLD_END_exta.csv
SCTLD_END_exta copy.csv
SCTLD_END_exta_ts.csv
SWG_SCTLDprogrates.csv
Species_progressionrates.csv
SCTLD_END_exta.csv
plot45RKnulldist.csv
plot47RKnulldist.csv
ripK_withcomments.csv
ripK_longR45.csv
topofthenull_plot45.csv
topofthenull_plot47.csv
